<!DOCTYPE html>
<html>
    <head>
        <title>SABRtooth</title>
    </head>

    <body>
        <h1>Welcome</h1>
        
        <h2>Player Search</h2>
        
        <form id="batting_form" method="post" action="{% url 'index' %}">

            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            {% for field in form.visible_fields %}
                {{ field.errors }}
                {{ field.help_text }}
                {{ field }}
            {% endfor %}

            <input type="submit" name="submit" value="Search Player" />
        </form>
    </body>
</html>